/* Write your CSS! */


$font:  'PT Sans Caption', sans-serif;
html {
  height: 100%;
}
body {
	font-family: $font;
	max-width:1000px;
	margin:auto;
	text-align:center;
	padding:5% 0 150px 0;
}
h1 {
	font-size:28px;
	font-weight:400;
	padding:20px 0 0px 0;
}
img {
	width:70%;
	padding:20px 0 50px 0;
}
p {
	font-size:15px;
	line-height:25px;
	color:rgba(0,0,0,0.8);
}
.button-bar {
	margin:80px 0 0 0;
}
.button {
	text-transform:none;
	text-decoration:none;
	border:1px solid #000000;
	padding:10px 20px 10px 20px;
	border-radius:5px;
	color:#000000;
	margin:5px;

	-webkit-transition:all 0.2s;
}
.button:link {
	text-decoration:none;
}
a {
	text-decoration: none;
}
a:link {
    color: #666666;
    text-decoration: underline;
}
 
a:active {
    color: #666666;
    text-decoration: none;
}
 
a:visited {
    color: #666666;
    text-decoration: none;
}
a:hover {
    color: #666666;
    text-decoration: underline;
}

.button.hover-black {
	border:1px solid #000000;
}
.button.hover-twitter {
	border:1px solid #00acee;
	color:#00acee;
}
.button.hover-black:hover {
	background:#000000;
	color:#ffffff;
}
.button.hover-twitter:hover {
	background:#00acee;
	color:#ffffff;

}
.list {
	margin-left:-20px;
	font-size: 15px;
	line-height: 25px;
	color: rgba(0, 0, 0, 0.8);
	text-align:left;
	li {
		margin: 0 0 50px 0;
	}
}

code {

    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background: #faf8f0;
    padding:3px;

}
code.block {
	display:block;
	padding:20px;
	text-align:left;
	margin:10px 0 20px 0;
	overflow:scroll;

}

.content {
	margin:auto;
	text-align:center;
	width:70%;
}

.color-tomato { background:tomato; }
.color-blue { background:#69BEE5; }
.color-green {	background:#90F843;  }

.urlbar {
	margin:50px auto;
	background:url("../images/sprites.png");
	width: 640px;
	height: 126px;
	text-align:center;
}

.main-color-blue { background-color: #dfdef7; }
.main-color-green { background-color: #e0ece0; }
.main-color-red { background-color: #f8e0e0; }
.main-color-yellow { background-color: #f8f8e0; }


.urlbar.main-color-blue { background-position: -1px 0; }
.urlbar.main-color-green { background-position: -1px -131px; }
.urlbar.main-color-red { background-position: -1px -263px; }
.urlbar.main-color-yellow { background-position: 0 -396px; }


@media all and (max-width: 820px) {
  .content {
  	width:80%;
  }
  .urlbar {
  	zoom: .6;
  }
}

@media all and (max-width: 420px) {
	.list {
		padding-right:25px;
	}
  	.content {
  		width:90%;
  	}	
  	.urlbar {
  		zoom: .4;
  	}

}



